body {
    background-color: indigo;
}
h1 {
    color: white;
}
button {
    color: white;
    background-color: black;
    border-radius: 5px;
}
input {
    background-color: black;
    border-radius: 5px;
}

.login_form {
    border-radius: 10px;
    width: 180px;
    padding: 80px;
    border: rgb(189, 152, 224);
    background-color:  rgb(189, 152, 224);
}
img {
    width: 340px;
}